.gridTrackPlan {
    border: 1px solid black;
    margin-top: 10px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

div {
    border: 0;
    margin: 0;
    padding: 0;
}

.row {
    border: 0;
    margin: 0;
    padding: 0;
    height: 32px !important;
    overflow: visible;
}

.cell {
    border: 0;
    margin: 0;
    padding: 0;
    /*border: 1px solid rgb(178, 179, 179);*/
    overflow: visible;
    max-height: 32px !important;
    max-width: 32px !important;
    width: 32px;
    height: 32px;
}

.overflow {
    border: 0;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.imgflip {
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.imgflip2 {
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.imgflip.imgflip2 {
    transform: scale(-1, -1);
}
